body {
  background-color: #081b29;
  display: flex;
  align-items: baseline;
  color: white;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 2rem;
}
p {
  margin: 0 10px;
  background: #38434b;
}
a {
  background: rgb(101, 106, 116);
  text-decoration: none;
  color: hsla(0, 6%, 97%, 0.925);
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 10px #5b6266;
  backdrop-filter: blur(10px);
}
a:hover {
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 0;
}
a:active {
  border-radius: 10px;
  color: hsla(0, 6%, 97%, 0.925);
  background-color: #49545c;
}
h1 {
  color: #727c83;
}
