body {
  background: #081b29;
  color: #e4dbdb9a;
  font-family: "Courier New", Courier, monospace;
}

.projectsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 5rem;
}
.projects ul {
  padding: 4px;
  background: #576e7e;
  border-radius: 10px;
  box-shadow: 2px 10px 6px #627685;
  backdrop-filter: blur(26px);
}

.projects ul li {
  list-style: none;
  font-weight: 500;
  font-size: 4rem;
}

.spanDec {
  display: flex;
  padding-left: 15px;
  font-size: 3rem;
}

.projects ul li a {
  text-decoration: none;
  background: #d68f0b;
  color: #eeeae3c2;
  border-radius: 7px;
  box-shadow: 6px 4px 8px #7c5c5c;
  backdrop-filter: blur(10px);
  padding: 14px;
}
.projects ul li a:hover {
  border-radius: 20px;
  box-shadow: 0 0 8px #7c5c5c;
}

ul li a::before {
  content: "";
  background: #d68f0b;
  position: absolute;
  width: 95%;
  height: 80%;
  animation: showRight 1s ease-in forwards;
  animation-delay: 0.4s;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}
